@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  display: grid;
  justify-items: end;

  &__btn {
    display: none;
  }

  &__list {
    @include unlist(0 (-$gap-sm) 0 0);
    display: grid;
    gap: $gap;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    justify-content: end;
  }

  &__link {
    display: block;
    padding: $gap-sm;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
  }
}
