@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  position: relative;
  min-height: 100vh;
  background-color: $color-primary;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  color: $color-light;
  display: grid;
  align-content: center;
  padding: 150px 0;
}
