@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
  }

  &__title {
    margin: 0 0 53px;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: $gap;
  }
}
